<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Complexité mêtre - Factorielle </title>
		
	</head>
	<body>
	
        <h3>Compléxité mêtre (Factorielle)</h3>
        <a href="home">ACCUEIL</a>
        <div id="" style="background-color: whitesmoke;">
            <h4>Factorielle {{factoriel_data}} ! =  {{factorielle}}</h4>
            <h5>Temps de calcul : {{duree}} millisecondes </h5>
          <div id="" onload="this.innerHTML='{{responsedata}}'"></div>   
        </div>
	</body>
</html>