<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Complexité mêtre</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" >
	</head>
	<body>
		<script type="text/javascript" src="../js/index.js" ></script>
        <h3>Compléxité mêtre (version 1)</h3>
        <div id="" style="background-color: wheat;">
				<h5>RECHERCHE</h5>
				  
				<form action="divEuclideHTML">
				  	  <h4>Division euclidienne</h4> <br/>
					  <table>
						  <tr>
							  <td>
									Dividende <input type="number" required="true" />
							  </td>
							  <td>		  
					   Diviseur 
					   <input type="number" required="true"/>
								</td>
								<td> <input type="submit" value="DIV EUCLIDIENNE"/></td>
						  </tr>


					  </table>
			
						  
					    
					</form>



				<form action="factorielleHTML" style="background-color: paleturquoise;">
					   <label > Factorielle</label>   <br/>
					   <input type="number" name="factoriel_data1" required="true"/> 
					   <input type="number" name="factoriel_data2" required="true"/>
					   <input type="number" name="factoriel_data3" required="true"/>
					   <input type="number" name="factoriel_data4" required="true"/>
					   <input type="number" name="factoriel_data5" required="true"/>
					   <input type="number" name="factoriel_data6" required="true"/>
					   <input type="number" name="factoriel_data7" required="true"/>
					   <input type="number" name="factoriel_data8" required="true"/>
					   <input type="number" name="factoriel_data9" required="true"/>
					   <input type="number" name="factoriel_data10" required="true"/>&nbsp;&nbsp; 
					   <input type="submit" value="FACTORIELLE" title="Calcul du factoriel" />
				   </form>      
				   <form action="maximumHTML" style="background-color: yellow;;">
				  
					   <label for='diviserPourReigner'>Maximum</label> &nbsp;&nbsp; 
						  <table>
							<tr>
								<td> 
									<input name="datamax_11" type="number" required="true"/>
								
								</td>
								<td> 
									<input name="datamax_12"type="number" required="true"/>
								</td>
								<td>
										<input name="datamax_13" type="number" required="true"/>
								</td>
								<td>
										<input name="datamax_14" type="number" required="true"/>
								</td>
								<td>
										<input name="datamax_15" type="number" required="true"/>
								</td>
							</tr>	
							<tr>
									<td> 
										<input name="datamax_21" type="number" required="true"/>
									
									</td>
									<td> 
										<input name="datamax_22" type="number" required="true"/>
									</td>
									<td>
											<input name="datamax_23" type="number" required="true"/>
									</td>
									<td>
											<input name="datamax_24" type="number" required="true"/>
									</td>
									<td>
											<input name="datamax_25" type="number" required="true"/>
									</td>
								</tr>	
	

						  </table>
						 
						  <input type="submit" value="MAXIMUM" onclick="this.document.getElementById('mainFrame').src='factorielleHTML'" />
				   </form>  
					  
						
				  
					
					   <h5>TRIE</h5>
				   
				   <input type='checkbox' id='diviserPourReigner'>
					   <label for='diviserPourReigner'>Par s&eacute;lection</label> &nbsp;&nbsp; 
						   <a href=''>Code source 

						   </a><br/>
				   <input type='checkbox' id='glouton'> <label for='glouton'> Insertion</label> &nbsp;&nbsp; <a href=''>Code source </a> <br/>
				   <input type='checkbox' id='KPP'><label for='KPP'>A bulle</label> &nbsp;&nbsp; <a href=''>Code source </a><br/>
				   <input type='checkbox' id='KPP'><label for='KPP'>Par fusion</label> &nbsp;&nbsp; <a href=''>Code source </a><br/>

        </div>
	</body>
</html>