<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Complexité m&ecirc;tre</title>
       
    </head>
    <body>
       
       
        <div id="" style="background-color: white;">

            <div style='text-align:center;'> 
                
                <h2>Projet p&eacute;dagogique - Compl&eacute;xit&eacute; m&eacute;tre</h2> 
               
            
                <table style="width: 100%;">
        
                <tr>
                <th><b>ALGORITHMES</b> </th><th> GRAPHIQUES</th>
                </tr>
                 <tr>
                   
                    <td style="background-color:moccasin ;width: 55%;">
                       <iframe id="mainFrame" style="width: 100%;height: 700px;" src="home"></iframe>
                    </td>
                    <td>
                        <iframe  src="testmatplotlib" width="100%" height="700"></iframe>
                    </td>
                 
                </table>
               
                </div>



                
        </div>
    </body>
</html>